In [2]:
import glob
import numpy as np
import os
import pandas as pd
import seaborn as sns

In [8]:
devices = pd.read_csv("devices.csv", delimiter="\t")
devices.head()

,latitude,longitude,store_name,code,location,imei
0,37.73222,115.70111,Hengshui,CN,Asia/Shanghai,359043379931766668
1,36.46917,10.78222,Beni Khiar,TN,Africa/Tunis,3590433799317661669
2,43.61092,3.87723,Montpellier,FR,Europe/Paris,359043379931766767
3,20.88953,-156.47432,Kahului,US,Pacific/Honolulu,359043379931766502
4,42.81900,47.11920,Buynaksk,RU,Europe/Moscow,3590433799317661370

In [11]:
connections = pd.read_csv("connections.csv", delimiter="\t")
connections.head()

,ts,imei,mwra,c.dogalize,c.android.gm,c.android.chrome,c.android.youtube,c.katana,c.updateassist,c.UCMobile.x86,c.android.vending,c.raider,c.UCMobile.intl
0,2018-05-05 10:00:00,3590433799317661966,1.0,9.03970,14.35315,13.76020,11.12559,6.73850,66.91554,54.28226,16.75773,4.64834,30.67838
1,2018-05-05 10:01:00,3590433799317661073,1.0,9.41478,7.51650,12.31292,12.55000,7.19936,32.67809,64.59178,29.13667,28.68688,59.46351
2,2018-05-05 10:02:00,359043379931766445,0.0,13.25806,7.23549,10.30754,7.77630,13.17780,55.29738,36.98063,65.83367,73.22975,37.54590
3,2018-05-05 10:03:00,3590433799317662014,0.0,11.41695,8.09047,8.96150,9.97905,11.82898,38.55251,46.93124,58.06052,15.85001,36.53092
4,2018-05-05 10:04:00,3590433799317661651,0.0,12.47250,9.28802,8.48795,8.60786,11.82816,43.46316,43.94921,47.15770,39.61245,38.15171

In [13]:
processes = pd.read_csv("processes.csv", delimiter="\t")
processes.head()

,ts,imei,mwra,p.android.gm,p.android.externalstorage,p.android.documentsui,p.system,p.android.settings,p.android.packageinstaller,p.android.chrome,...,p.dogalize,p.inputmethod.latin,p.simulator,p.android.gms,p.android.vending,p.katana,p.process.gapps,p.google,p.olauncher,p.browser.provider
0,2018-05-05 10:00:00,3590433799317661966,1.0,13.08147,6.26446,7.97092,11.24427,11.08966,8.23662,11.58103,...,42.19751,79.40836,45.40991,87.15437,51.41012,69.25298,20.06545,13.62688,21.52231,84.08213
1,2018-05-05 10:01:00,3590433799317661073,1.0,9.52577,13.15723,10.12613,14.37023,14.36103,5.40400,7.72424,...,53.72498,39.27139,13.21933,74.91757,30.24281,53.84815,21.26466,7.85091,1.76933,40.47904
2,2018-05-05 10:02:00,359043379931766445,0.0,11.23775,13.43689,12.58645,7.63430,12.54228,12.04773,7.86555,...,43.77214,36.49072,86.97079,96.17420,7.71312,78.90782,8.32312,41.12966,75.38385,68.61776
3,2018-05-05 10:03:00,3590433799317662014,0.0,6.02527,11.05170,12.42098,16.98137,11.35344,11.37062,10.67391,...,55.74452,48.78629,9.34253,63.25140,61.82840,43.90015,83.45260,61.63458,13.99080,62.90951
4,2018-05-05 10:04:00,3590433799317661651,0.0,4.97925,11.86770,10.20366,15.33645,11.64182,12.93403,10.25430,...,17.59833,49.69782,7.07021,73.27845,46.34725,91.91502,19.71363,12.49803,80.71499,3.93994