In [1]:
import glob
import numpy as np
import os
import pandas as pd
import seaborn as sns

# DEVICES

In [2]:
# HEAD NAHLAD
devices = pd.read_csv("raw_data/devices.csv", delimiter="\t")
devices.head()

,latitude,longitude,store_name,code,location,imei
0,37.73222,115.70111,Hengshui,CN,Asia/Shanghai,359043379931766668
1,36.46917,10.78222,Beni Khiar,TN,Africa/Tunis,3590433799317661669
2,43.61092,3.87723,Montpellier,FR,Europe/Paris,359043379931766767
3,20.88953,-156.47432,Kahului,US,Pacific/Honolulu,359043379931766502
4,42.81900,47.11920,Buynaksk,RU,Europe/Moscow,3590433799317661370

In [3]:
# DESCRIBE STATS
devices.describe()

          latitude    longitude          imei
count  2903.000000  2903.000000  2.903000e+03
mean     29.183089    11.174573  3.917534e+18
std      23.069725    71.550287  3.359979e+18
min     -54.800000  -156.474320  3.590434e+17
25%      14.149890   -51.873890  8.630331e+17
50%      36.725440     9.370820  3.590434e+18
75%      46.238990    69.490150  8.630331e+18
max      68.798330   178.004170  8.630331e+18

# CONNECTIONS

In [4]:
# HEAD NAHLAD
connections = pd.read_csv("raw_data/connections.csv", delimiter="\t")
connections.head()

,ts,imei,mwra,c.dogalize,c.android.gm,c.android.chrome,c.android.youtube,c.katana,c.updateassist,c.UCMobile.x86,c.android.vending,c.raider,c.UCMobile.intl
0,2018-05-05 10:00:00,3590433799317661966,1.0,9.03970,14.35315,13.76020,11.12559,6.73850,66.91554,54.28226,16.75773,4.64834,30.67838
1,2018-05-05 10:01:00,3590433799317661073,1.0,9.41478,7.51650,12.31292,12.55000,7.19936,32.67809,64.59178,29.13667,28.68688,59.46351
2,2018-05-05 10:02:00,359043379931766445,0.0,13.25806,7.23549,10.30754,7.77630,13.17780,55.29738,36.98063,65.83367,73.22975,37.54590
3,2018-05-05 10:03:00,3590433799317662014,0.0,11.41695,8.09047,8.96150,9.97905,11.82898,38.55251,46.93124,58.06052,15.85001,36.53092
4,2018-05-05 10:04:00,3590433799317661651,0.0,12.47250,9.28802,8.48795,8.60786,11.82816,43.46316,43.94921,47.15770,39.61245,38.15171

In [5]:
#DESCRIBE STATS
connections.describe()

,imei,mwra,c.dogalize,c.android.gm,c.android.chrome,c.android.youtube,c.katana,c.updateassist,c.UCMobile.x86,c.android.vending,c.raider,c.UCMobile.intl
count,1.508200e+04,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000
mean,3.932252e+18,0.628166,12.780511,10.307836,11.493811,10.332468,10.397852,51.241494,54.158555,50.000631,50.287501,49.901177
std,3.340437e+18,0.483310,2.108549,2.741483,2.633958,2.565897,2.504601,12.325118,12.670826,28.964179,28.817286,29.007810
min,3.590434e+17,0.000000,3.052220,0.000000,0.540450,2.671060,2.253590,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,11.387840,8.331292,9.633782,8.510405,8.600627,42.940358,45.853808,24.886323,25.568478,24.644825
50%,3.590434e+18,1.000000,12.795875,10.257040,11.606770,10.069430,10.232250,51.238875,54.052655,50.263140,50.525375,49.971460
75%,8.630331e+18,1.000000,14.185975,12.285103,13.360772,12.027000,12.157758,59.676707,62.665258,74.912790,75.278347,75.380595
max,8.630331e+18,1.000000,21.448640,20.873920,21.980650,20.558500,21.827390,100.000000,100.000000,100.000000,100.000000,100.000000

# PROCESSES

In [6]:
# HEAD NAHLAD
processes = pd.read_csv("raw_data/processes.csv", delimiter="\t")
processes.head()

,ts,imei,mwra,p.android.gm,p.android.externalstorage,p.android.documentsui,p.system,p.android.settings,p.android.packageinstaller,p.android.chrome,...,p.dogalize,p.inputmethod.latin,p.simulator,p.android.gms,p.android.vending,p.katana,p.process.gapps,p.google,p.olauncher,p.browser.provider
0,2018-05-05 10:00:00,3590433799317661966,1.0,13.08147,6.26446,7.97092,11.24427,11.08966,8.23662,11.58103,...,42.19751,79.40836,45.40991,87.15437,51.41012,69.25298,20.06545,13.62688,21.52231,84.08213
1,2018-05-05 10:01:00,3590433799317661073,1.0,9.52577,13.15723,10.12613,14.37023,14.36103,5.40400,7.72424,...,53.72498,39.27139,13.21933,74.91757,30.24281,53.84815,21.26466,7.85091,1.76933,40.47904
2,2018-05-05 10:02:00,359043379931766445,0.0,11.23775,13.43689,12.58645,7.63430,12.54228,12.04773,7.86555,...,43.77214,36.49072,86.97079,96.17420,7.71312,78.90782,8.32312,41.12966,75.38385,68.61776
3,2018-05-05 10:03:00,3590433799317662014,0.0,6.02527,11.05170,12.42098,16.98137,11.35344,11.37062,10.67391,...,55.74452,48.78629,9.34253,63.25140,61.82840,43.90015,83.45260,61.63458,13.99080,62.90951
4,2018-05-05 10:04:00,3590433799317661651,0.0,4.97925,11.86770,10.20366,15.33645,11.64182,12.93403,10.25430,...,17.59833,49.69782,7.07021,73.27845,46.34725,91.91502,19.71363,12.49803,80.71499,3.93994

In [7]:
#DESCRIBE STATS
processes.describe()

,imei,mwra,p.android.gm,p.android.externalstorage,p.android.documentsui,p.system,p.android.settings,p.android.packageinstaller,p.android.chrome,p.android.defcontainer,...,p.dogalize,p.inputmethod.latin,p.simulator,p.android.gms,p.android.vending,p.katana,p.process.gapps,p.google,p.olauncher,p.browser.provider
count,1.508200e+04,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,...,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000,15082.000000
mean,3.932252e+18,0.628166,10.959136,11.570061,11.565837,12.148415,10.981909,10.408449,9.791383,0.234095,...,51.591727,49.450294,50.016261,49.682472,49.679929,50.227380,49.741881,49.824192,49.519106,49.823803
std,3.340437e+18,0.483310,2.610045,2.575290,2.506415,2.435983,2.628237,2.623675,2.529759,1.534500,...,12.264143,28.950475,28.820482,28.967165,28.913058,28.839979,28.684441,28.942239,29.045372,28.859213
min,3.590434e+17,0.000000,2.180730,1.398780,1.030980,2.780780,1.681710,0.430540,0.745730,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,9.015752,9.828610,9.953453,10.568665,9.065975,8.537558,8.081835,0.003262,...,43.357860,24.494882,25.010467,24.730168,24.392198,25.175237,25.331063,24.559190,24.064545,24.735183
50%,3.590434e+18,1.000000,10.975265,11.799585,11.835710,12.282485,11.031075,10.389345,9.636155,0.021880,...,51.506090,49.220695,50.361785,49.252345,49.607365,50.016430,49.820090,49.456560,49.932410,49.566340
75%,8.630331e+18,1.000000,12.869393,13.427475,13.342425,13.879573,12.928720,12.322907,11.380020,0.110615,...,59.789507,74.676802,74.976930,74.870220,74.767755,75.275445,74.053022,75.010913,74.685353,74.881215
max,8.630331e+18,1.000000,20.395280,20.235780,19.323180,20.565560,18.888400,19.930570,20.294680,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

# PROFILES

In [8]:
# HEAD NAHLAD
profiles = pd.read_csv("raw_data/profiles.csv", delimiter="\t")
profiles.head()

,birthdate,user_id,registration,company,job,mail,residence,imei,current_location,username,ssn,name
0,NaN,847,2019/11/21,Mitchell-Solis,NaN,timothytaylor@yahoo.com,NaN,8630330696303481933,"(Decimal('-20.2706735'), Decimal('157.457919'))",aaron53,616-47-8424,Michael Wilson
1,NaN,1161,2022-11-08,"Gonzales, Ingram and Sanchez",Geophysical data processor,gonzalezmichael@gmail.com,NaN,8630330696303481099,"(Decimal('-53.811515'), Decimal('24.770391'))",nicole50,537-31-1859,James Long
2,1940-10-02,1255,"06/04/2018, 00:00:00",Rowland LLC,NaN,sarahgreene@yahoo.com,NaN,3590433799317661909,"(Decimal('79.3383185'), Decimal('19.887697'))",amber66,427-45-3074,Keith Donovan
3,NaN,2069,2021-01-19,Pearson PLC,NaN,destinyholland@gmail.com,NaN,3590433799317661008,"(Decimal('-39.788237'), Decimal('115.687134'))",dana32,286-31-2534,Stephanie Bell
4,NaN,1648,21 Jan 2022,English LLC,NaN,thomas78@hotmail.com,"71251 Conway Divide Suite 608\nNorth Zachary, ...",359043379931766775,"(Decimal('16.925840'), Decimal('-82.703519'))",cbutler,252-18-1389,Randy Rodriguez

In [9]:
#DESCRIBE STATS
profiles.describe()

           user_id          imei
count  2597.000000  2.597000e+03
mean   1313.889488  3.947500e+18
std     742.511867  3.403798e+18
min       1.000000  3.590434e+17
25%     676.000000  8.630331e+17
50%    1313.000000  3.590434e+18
75%    1958.000000  8.630331e+18
max    2593.000000  8.630331e+18